

{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-md border border-gray-200 p-10 my-10">
  <header class="mb-8">
    <h1 class="text-3xl font-bold uppercase tracking-wide text-black">
      {{ full_name }}
    </h1>
    <p class="text-sm text-gray-700">{{ location }} | {{ phone_number }} | {{email}} </p>
  </header>

  <section class="mb-6">
    <h2 class="text-xl font-semibold border-b border-gray-400 pb-1 mb-3 uppercase">Skills</h2>
    <ul class="list-disc list-inside text-gray-800">
      {{skills}}
    </ul>
  </section>

  <section class="mb-6">
    <h2 class="text-xl font-semibold border-b border-gray-400 pb-1 mb-3 uppercase">Education</h2>
    <p class="text-gray-800 whitespace-pre-line">
      {{ education }}
    </p>
  </section>

  <section class="mb-6">
    <h2 class="text-xl font-semibold border-b border-gray-400 pb-1 mb-3 uppercase">Experience</h2>
    <p class="text-gray-800 whitespace-pre-line">
      {{ experience }}
    </p>
  </section>

  <section class="mb-6">
    <h2 class="text-xl font-semibold border-b border-gray-400 pb-1 mb-3 uppercase">Projects</h2>
    <p class="text-gray-800 whitespace-pre-line">
      {{projects|default:"Not provided" }}
    </p>
  </section>

  <section class="mb-6">
    <h2 class="text-xl font-semibold border-b border-gray-400 pb-1 mb-3 uppercase">Achievements</h2>
    <p class="text-gray-800 whitespace-pre-line">
      {{ achievements|default:"Not provided" }}
    </p>
  </section>

  <div class="mt-10">
    <a href="{% url 'edit_profile' %}" class="inline-block border border-black px-5 py-2 text-sm text-black hover:bg-gray-100 transition rounded">
      Edit Profile
    </a>
  </div>
</div>




<p><a href="{% url 'download_resume' %}">Download as Docx</a></p>
<p><a href="{% url 'download_resume' %}">Download as PDF</a></p>
{% endblock %}
